@font-face {
	font-family: Parise;
	font-display: swap;
	src: url("../fonts/Parise.woff2") format("woff2"), url("../fonts/Parise.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: AvenirLT;
	font-display: swap;
	src: url("../fonts/AvenirLT-Roman.woff2") format("woff2"), url("../fonts/AvenirLT-Roman.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
