//====================================================================================================
.header {
	// .header__top
	&__top {
		background: #0d0a09;
		@media (max-width: $tablet) {
			display: none;
		}
	}
	// .header__menu
	&__menu {
		background-color: #ffffff;
	}
}
.line {
	// .line__info-list
	&__info-list {
		display: flex;
		justify-content: space-between;
		visibility: hidden;
	}
	// .line__info-list-item
	&__info-list-item {
		padding: 18px 0;
	}
	// .line__info-list-item-link
	&__info-list-item-link {
		font-family: Avenir;
		@include adaptiveValue("font-size", 31, 18, 1920, 1000);
		letter-spacing: 0.05em;
		color: #464646;
	}
	// .line__image-ibg
	&__image-ibg {
		position: relative;
		width: 100%;
		min-height: 1027px;
	}
	// .line__image-bg
	&__image-bg {
		position: absolute;
	}
}
.menu-open {
	@media (max-width: $tablet) {
		.menu__list {
			@media (max-width: $tablet) {
				top: 0;
				transition: all 0.7s ease;
				background: rgba(255, 255, 255, 0.8);
				overflow: auto;
			}
		}
	}
}

.menu {
	// .menu__container
	&__container {
		position: relative;
		z-index: 50;
	}
	// .menu__list
	&__list {
		display: flex;
		justify-content: space-between;
		@media (max-width:$tablet){
			position: fixed;
			flex-direction: column;
			width: 100%;
			height: 100%;
			top: -150%;
			overflow: hidden;
			transition: all 0.7s ease;
		}
	}
	// .menu__item
	&__item {
		padding: 25px 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
		@media (any-hover: hover) {
			&:hover {
				.menu__link {
					color: #d59d40;
				}
				.menu__icon-sub {
					top: 8px;
					opacity: 1;
					transition: all 0.5s ease;
					z-index: 0;
				}
				.menu__sublist {
					top: 75px;
					z-index: 0;
					opacity: 1;
					visibility: visible;
					transition: all 0.5s ease;
					pointer-events: auto;
				}
			}
		}
	}
	// .menu__link
	&__link {
		font-family: Baskerville;
		@include adaptiveValue("font-size", 25, 18, 1920, 1000);
		letter-spacing: 0.055em;
		color: #0d0a09;
		transition: all 0.5s ease;
		@media (max-width:$tablet){
			font-size: 25px;
		}
	}
	// .menu__icon-sub
	&__icon-sub {
		position: relative;
		display: block;
		width: 16px;
		top: 0px;
		opacity: 0;
		z-index: -1;
		transition: all 0.5s ease;
		&::before {
			content: "";
			width: 10px;
			height: 2px;
			background-color: #d59d40;
			left: 0;
			top: 50%;
			position: absolute;
			transform: rotate(45deg);
		}
		&::after {
			content: "";
			width: 10px;
			height: 2px;
			background-color: #d59d40;
			top: 50%;
			right: 0;
			position: absolute;
			transform: rotate(135deg);
		}
	}
	// .menu__sublist
	&__sublist {
		position: absolute;
		display: block;
		top: 50px;
		z-index: -1;
		visibility: hidden;
		opacity: 0;
		background: rgba(255, 255, 255, 0.9);
		padding: 20px 30px;
		transition: all 0.5s ease;
		pointer-events: none;
	}
	// .menu__sublist-item
	&__sublist-item {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 15px;
		transition: all 0.5s ease;
		&:hover {
			color: #d59d40;
			transition: all 0.5s ease;
		}
	}
	// .menu__sublist-link
	&__sublist-link {
		font-size: 25px;
		line-height: 29px;
		letter-spacing: 0.055em;
	}
	// .menu__icon
	&__icon {
		margin: 15px;
	}
}

//====================================================================================================

//Burger
.icon-menu {
	display: none;
	@media (max-width: $tablet) {
		display: block;
		position: absolute;
		right: 0;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 50;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
